h1 {
  text-align: center;
}

.main-container {
  margin: auto;
  padding-top: 2rem;

  max-width: 1000px;
}

.button {
  cursor: pointer;

  background-color: #0c6dfd;
  color: white;
  font-weight: bold;

  padding: 0.5rem;
  margin: 0 1rem;

  border: none;
  border-radius: 3px;
}

.card {
  padding: 1rem;
  margin: 2rem 0;

  border: 1px solid lightgray;
  border-radius: 10px;
}

.active {
  background-color: #ffc007;
}

.d.none {
  display: none;
}
